{% include 'header.html' %}
{% if goods is not empty %}

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>	
				<tbody>
 {% for item in goods %}

	 
                
                  <tr>
                    <td class="product-thumbnail">
                      <img src="images/cloth_1.jpg" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{ item.title }}</h2>
                    </td>
                    <td>${{ item.price }}</td>
                    <td>
                      <div class="mb-3" style="max-width: 120px;">
                        
                       {{ item.quantity }}
                      </div>

                    </td>
                    <td>${{ item.total }}</td>
                    <td><a href="/api/cart/remove/{{ item.id }}" class="btn btn-primary btn-sm">X</a></td>
                  </tr>

 {% endfor %}
				</tbody>
              </table>
            </div>
          </form>
        </div>

         <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
             
              <div class="col-md-8">
                <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
              </div>
            </div>
            
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">$230.00</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">$230.00</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if goods is empty %}
    <br>
    <div class="row justify-content-center">
      Корзина пустая:
      <div class="col-lg-3 col-sm-6">
  
          <a href="/categorie/2" class="btn btn-outline-primary btn-sm btn-block">Продолжить покупки</a>
      </div>
    </div>
    {% endif%}
{% include 'footer.html' %}