{{ header | raw }}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/images/{{ item.image }}.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <form action="/api/cart/add/{{ item.id }}" method="post">
              <h2 class="text-black">{{ item.title }}</h2>
              <p> {{ item.description }}</p>
              <p><strong class="text-primary h4">{{ item.price }} гривны</strong></p>
              <div class="mb-1 d-flex">
                <label for="option-sm" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="size" value="s"></span> <span class="d-inline-block text-black">Small</span>
                </label>
                <label for="option-md" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md"  name="size" value="m"></span> <span class="d-inline-block text-black">Medium</span>
                </label>
                <label for="option-lg" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg"  name="size" value="l"></span> <span class="d-inline-block text-black">Large</span>
                </label>
                <label for="option-xl" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl"  name="size" value="xl"></span> <span class="d-inline-block text-black"> Extra Large</span>
                </label>
              </div>
              <div class="mb-5">
                <div class="input-group mb-3" style="max-width: 120px;">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                </div>
                <input type="text" class="form-control text-center" value="1" placeholder="" name="quantity" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                </div>
              </div>

              </div>
              <p><button href="/api/cart/add/{{ item.id }}" class="buy-now btn btn-sm btn-primary">Add To Cart</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>

{{ footer | raw }}