{{header|raw}}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">{{lang.thank_you}}</h2>
            <p class="lead mb-5">{{lang.info}}</p>
            <p><a href="{{path_for('random_categorie')}}" class="btn btn-sm btn-primary">{{lang.back2shop}}</a></p>
          </div>
        </div>
      </div>
    </div>
{{footer|raw}}